.about-text-set{
    display: flex;
    flex-direction: column;
    margin-block:12rem;
    gap:5rem;
}

.about-text-wrapper{
    display: flex;
    flex-direction: column;
}

.about-text-set .about-title{
    font-size:xx-large;
}

.about-text-set .objectives-reasons{
    margin-block: 2rem;
    color:gray;
    font-weight:normal;
}

.about-text-set .about-full-text{
    font-size:medium;
    text-align: justify;
}

